numba
progress==1.6
matplotlib
scipy>=1.4.1
torch==1.13.1
torchvision==0.14.1
albumentations
pyrr
simplejson==3.19.1
tqdm
opencv-python>=4.5.3.56
numpy
scikit-learn==0.22.2
filterpy>=1.4.5
setuptools>=49.6.0
frozendict
tensorflow
requests
